AmidaService/AmidaClientServiceWrapper/Service References/AmidaService/AmidaServerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AmidaServerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AmidaServerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VerifyNoteData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fail" type="xs:int" />
      <xs:element minOccurs="0" name="MAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operators" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" type="xs:int" />
      <xs:element minOccurs="0" name="RCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTimes" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StopTimes" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TPS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestVerify" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestVerifyDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TouchDo" type="xs:long" />
      <xs:element minOccurs="0" name="WaferID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyNoteData" nillable="true" type="tns:VerifyNoteData" />
  <xs:complexType name="ArrayOfRegisterDeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegisterDeviceInfo" nillable="true" type="tns:RegisterDeviceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegisterDeviceInfo" nillable="true" type="tns:ArrayOfRegisterDeviceInfo" />
  <xs:complexType name="RegisterDeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PcName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterDeviceInfo" nillable="true" type="tns:RegisterDeviceInfo" />
  <xs:simpleType name="InportCmdType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InportFile" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InportCmdType" nillable="true" type="tns:InportCmdType" />
</xs:schema>