AmidaService/AmidaClientService/Service References/AmidaService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AmidaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IAmidaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AmidaServerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAmidaService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_SayServerHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayServerHello" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_SayServerHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayServerHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_GetAllConnectionInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConnectionInfo" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_GetAllConnectionInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConnectionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_ExportCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportCommand" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_ExportCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_Down_InputMessage">
    <wsdl:part name="parameters" element="tns:Down" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_Down_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownResponse" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_Release_InputMessage">
    <wsdl:part name="parameters" element="tns:Release" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_Release_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_ReceivedCommand_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivedCommand" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_SayHello_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_NotifyConnectionChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyConnectionChanged" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_NotifyStatusChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyStatusChanged" />
  </wsdl:message>
  <wsdl:message name="IAmidaService_NotifyClientExported_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientExported" />
  </wsdl:message>
  <wsdl:portType name="IAmidaService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmidaService/GetData" message="tns:IAmidaService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/GetDataResponse" message="tns:IAmidaService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmidaService/Register" message="tns:IAmidaService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/RegisterResponse" message="tns:IAmidaService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayServerHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmidaService/SayServerHello" message="tns:IAmidaService_SayServerHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/SayServerHelloResponse" message="tns:IAmidaService_SayServerHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllConnectionInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmidaService/GetAllConnectionInfo" message="tns:IAmidaService_GetAllConnectionInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/GetAllConnectionInfoResponse" message="tns:IAmidaService_GetAllConnectionInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmidaService/ExportCommand" message="tns:IAmidaService_ExportCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/ExportCommandResponse" message="tns:IAmidaService_ExportCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Down">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmidaService/Down" message="tns:IAmidaService_Down_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/DownResponse" message="tns:IAmidaService_Down_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Release">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmidaService/Release" message="tns:IAmidaService_Release_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/ReleaseResponse" message="tns:IAmidaService_Release_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivedCommand">
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/ReceivedCommand" message="tns:IAmidaService_ReceivedCommand_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/SayHello" message="tns:IAmidaService_SayHello_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyConnectionChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/NotifyConnectionChanged" message="tns:IAmidaService_NotifyConnectionChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyStatusChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/NotifyStatusChanged" message="tns:IAmidaService_NotifyStatusChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyClientExported">
      <wsdl:output wsaw:Action="http://tempuri.org/IAmidaService/NotifyClientExported" message="tns:IAmidaService_NotifyClientExported_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IAmidaService" type="tns:IAmidaService">
    <wsp:PolicyReference URI="#CustomBinding_IAmidaService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayServerHello">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/SayServerHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConnectionInfo">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/GetAllConnectionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportCommand">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/ExportCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Down">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/Down" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Release">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/Release" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivedCommand">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/ReceivedCommand" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/SayHello" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyConnectionChanged">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/NotifyConnectionChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/NotifyStatusChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyClientExported">
      <soap12:operation soapAction="http://tempuri.org/IAmidaService/NotifyClientExported" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmidaService">
    <wsdl:port name="CustomBinding_IAmidaService" binding="tns:CustomBinding_IAmidaService">
      <soap12:address location="net.tcp://localhost:4502/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4502/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>